*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppnis',sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}
.container{
    position: relative;
    width: 500px;
    background: #000;
    height: 500px;
    border-radius:100px 200px;
    overflow: hidden;
    transition: .5S ease;
}
.container:hover{
    box-shadow: 0  0  10px #1ef,
                0  0  100px #1ef,
                0  0  200px #1ef,
                0  0  10px  #a1037a,
                0  0  100px #a1037a,
                0  0  200px #a1037a;

}
.container::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 500px;
    width:500px;
    background: linear-gradient(90deg,#00ffff,#00ffffff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.container::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 500px;
    width: 500px;
    background: linear-gradient(90deg,transparent,#d912bb,#d9138a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.error{
    color: #fff;
    font-size: 0.8em;
    margin-top: 5px;
    position: absolute;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(-360deg) scale(.9);
    }
    100%{
        transform: rotate(360deg) scale(1.2);
    }
}
form{
    position: absolute;
    inset: 2px;
    background:#28292d;
    border-radius: 50%;
    z-index: 1;
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}
.input-box input{
    position: relative;
    margin: 20px;
    width: 230px;
    height:30px;
    border-radius: 10px;
    border:none;
    background: #222;
    outline: none;
    padding:0 20px;
}
.input-box input:hover{
    box-shadow: 0  0  20px #00ffff;
    cursor: pointer;
}
.input-box input:valid,
.input-box input:focus{
    box-shadow: 0 0  20dvb #1ef;
    font-size: .9em;
    color: #fff;
}
.error{
    color: #fff;
    font-size: .9em;
}
.input-box label{
    position: absolute;
    left: 140px;
    color: #fff;
    top:38%;   
    transform: translateY(-20%);
    transition: .5s ease;
    pointer-events: none;
  
}
.input-box input:valid~label,
.input-box input:focus~label{
    top:1px;
    padding:  0 2px;
    color: #00ffff;
    transition: .5s;
}
button{
    position: absolute;
    right: 10dvb;
    bottom: 9dvb;
    width: 300px;
    height: 4.5vh;
    border: none;
    background-color:#0123;
    border-radius: 15px;
    font-size: 16px;
    letter-spacing: .04em;
    transition: 1s ease;
}

button:hover{
    transition-delay: 0s,10s;
   box-shadow: 0  0  10px #00ffff,
                0  0  50px #00ffffff,
                0   0  100px #00ffffff,
                0   0   200px #00ffffff,
                0   0   500px #00ffffff;
     color: #1ef;
     text-shadow: 0  0  10px #00ffff;
     transform: scale(1.1);
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-size:2em;
    transition: .5s ease;
}
h2:hover{
    color: #00ffff;
    text-shadow: 0 0  20px #1ef;
    transform: scale(1.3);
    cursor: pointer;
}
.input-box span i{
    color:#fff;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    right: 9em;
    transition: .5s ease;
}
.input-box span i:hover{
    transform:scale(2);
    color: #00ffff;
    text-shadow: 0 0  10px #1ef;
}

